body, body .wrapper header .header__flexcon .header__button > a {
  font-family: 'Roboto', sans-serif;
}

.content {
  max-width: 1170px;
  margin: 0px auto;
}

body {
  background-color: #A29BFE;
}

body .wrapper {
  max-width: 1440px;
  margin: 0px auto;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 20px;
}

body .wrapper header {
  -webkit-box-shadow: 0px 2px 5px rgba(35, 47, 53, 0.281);
          box-shadow: 0px 2px 5px rgba(35, 47, 53, 0.281);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 5;
}

body .wrapper header .header__flexcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 96px;
}

body .wrapper header .header__flexcon .header__logo {
  margin-left: 72px;
  position: relative;
}

body .wrapper header .header__flexcon .header__logo > a {
  font-size: 48px;
  color: #2D3436;
  font-weight: bold;
  letter-spacing: -1px;
  text-decoration: none;
}

body .wrapper header .header__flexcon .header__logo > a::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url("../image/icon-layout.png");
  top: 6px;
  left: -53.5px;
  background-position: center center;
}

body .wrapper header .header__flexcon .header__menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 582px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

body .wrapper header .header__flexcon .header__menu nav .nav_two::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #FDCB6E;
  top: 7px;
  border-radius: 50%;
  left: 137px;
}

body .wrapper header .header__flexcon .header__menu nav .nav_three::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #FDCB6E;
  top: 7px;
  border-radius: 50%;
  left: 298px;
}

body .wrapper header .header__flexcon .header__menu nav .nav_four::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #FDCB6E;
  top: 7px;
  border-radius: 50%;
  left: 458px;
}

body .wrapper header .header__flexcon .header__menu nav a {
  font-size: 18px;
  color: #6C5CE7;
  font-weight: normal;
  letter-spacing: 0.2px;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

body .wrapper header .header__flexcon .header__menu nav a:hover {
  font-size: 18px;
  color: #2D3436;
  font-weight: bold;
  letter-spacing: 0.2px;
}

body .wrapper header .header__flexcon .header__button > a {
  font-size: 24px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.25px;
  text-decoration: none;
  background-color: #6C5CE7;
  border-radius: 40px;
  padding: 17px 45px;
  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
  -webkit-box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
          box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .wrapper header .header__flexcon .header__button > a:hover {
  background-color: #2D3436;
}

body .wrapper .title__section {
  position: relative;
  background-image: url("../image/Rectangle.png");
  background-repeat: no-repeat;
  background-position: right top;
  border: 1px solid transparent;
  z-index: 1;
}

body .wrapper .title__section::after {
  content: '';
  position: absolute;
  width: 209px;
  height: 285px;
  background-image: url("../image/tochki.png");
  background-position: center center;
  right: 0px;
  top: 18px;
}

body .wrapper .title__section .title {
  text-align: center;
  margin-top: 176px;
}

body .wrapper .title__section .title h1 {
  margin: 0px;
  font-size: 96px;
  color: #2D3436;
  font-weight: 800;
  letter-spacing: 0.25px;
}

body .wrapper .title__section .title h1 span {
  color: #D63031;
  text-shadow: 0px 6px white;
  position: relative;
}

body .wrapper .title__section .title h1 span::after {
  position: absolute;
  content: '';
  background-color: #55EFC4;
  border-radius: 30px;
  width: 191px;
  height: 51px;
  top: 70px;
  right: -14px;
  z-index: -1;
}
