// Переменные
$perpl: #6C5CE7;
$title_color: #2D3436;
// Mixins
@mixin text($fs,$c,$fw,$ls){
    font-size: $fs;
    color:$c;
    font-weight: $fw;
    letter-spacing: $ls;
}
// Шаблоны
%Font{
    font-family: 'Roboto', sans-serif;
}
// Code
*{
    box-sizing: border-box;
}
.content{
    max-width: 1174px;
    margin: 0px auto;
} 
body{
    background-color: #A29BFE;
    @extend %Font;
    .wrapper{
        background-image: url("../image/Rectangle.png");
        background-repeat: no-repeat;
        background-position: right top;
        max-width: 1440px;
        margin: 0px auto;
        margin-top: 30px;
        background-color: #fff;
        border-radius: 20px;
        header{
            box-shadow: 0px 2px 5px rgba(35, 47, 53, 0.281);
            position: sticky;
            top: 0px;
            background-color: #fff;
            border-radius: 20px;
            z-index: 5;
          .header__flexcon{
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 96px;
              .header__logo{
                margin-left: 72px;
                position: relative;
                  >a{
                    @include text(48px,$title_color,bold,-1px);
                    text-decoration: none;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 35px;
                        height: 35px;
                        background-image: url('../image/icon-layout.png');
                        top: 6px;
                        left: -72.5px + 19px;
                        background-position: center center;
                    }
                  }
              }
              .header__menu{
                  nav{
                      display: flex;
                      align-items: center;
                      min-width: 582px;
                      justify-content: space-between;
                      position: relative;
                      .nav_two::before{
                          content:'';
                          position: absolute;
                          width: 7px;
                          height: 7px;
                          background-color: #FDCB6E;
                          top: 7px;
                          border-radius: 50%;
                          left: 137px;
                      } 
                      .nav_three::before{
                        content:'';
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        background-color: #FDCB6E;
                        top: 7px;
                        border-radius: 50%;
                        left: 298px;
                      } 
                      .nav_four::before{
                        content:'';
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        background-color: #FDCB6E;
                        top: 7px;
                        border-radius: 50%;
                        left: 458px;
                      }   
                      a{
                        @include text(18px,$perpl,normal,0.2px);
                        text-decoration: none;
                        transition: all 0.25s ease;
                        &:hover{
                            @include text (18px,$title_color,bold,0.2px);
                        }
                      }   
                  }
              }
              .header__button{
                >a{
                    @include text(24px,white,bold,0.25px);
                    @extend %Font;
                    text-decoration: none;
                    background-color:$perpl;
                    border-radius:55px;
                    padding: 17px 45px;
                    text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                    transition: all 0.5s ease;
                    z-index: 1;
                    position: relative;
                    &:hover{
                        background-color: $title_color;
                    }
                    &:hover::before{
                        content:'';
                        height: 63px;
                        position: absolute;
                        width: 166px;
                        background-color: #2d343693;
                        z-index: -1;
                        opacity: 0;
                        border-radius: 55px;
                        top: 0px;
                        left: 0px;
                        animation-delay: 0.5s;
                        animation: PulsButtonHeader 0.8s linear 1;  
                    }
                    &:hover::after{
                        content:'';
                        height: 63px;
                        position: absolute;
                        width: 166px;
                        background-color: #2d343618;
                        z-index: -1;
                        opacity: 0;
                        border-radius: 55px;
                        top: 0px;
                        left: 0px;
                        animation: PulsButtonHeader 0.8s linear 1;
                    }
                }
              }
          }
        }
        .title__section{
            position: relative;
            box-sizing: border-box;
            z-index: 1;
            padding-top: 176px;
            // без border отступ кривой
            &::after{
                content:'';
                position: absolute;
                width: 209px;
                height: 285px;
                background-image: url("../image/tochki.png");
                background-position: center center;
                right: 0px;
                top: 18px;
            }
            .title{
                text-align: center;
                h1{
                    margin: 0px;
                    @include text(96px,$title_color,800,0.25px);
                    
                    span{
                        color:#D63031;
                        text-shadow: 0px 6px white;
                        position: relative;
                        &::after{
                            position: absolute;
                            content:'';
                            background-color: #55EFC4;
                            border-radius: 30px;
                            width: 191px;
                            height: 51px;
                            top: 70px;
                            right: -14px;
                            z-index: -1;
                        }
                    }
                }
            }
        }
        .title__image{
            .title__image_container{
                margin-top: 79px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 80px;
                .title__image_elone{
                    .title__text{
                        >p{
                            @include text(18px,$title_color,normal, normal);
                            line-height: 32px;
                            margin: 0;
                            padding-bottom: 30px;
                            position: relative;
                            &::before{
                                content:"This is multipurpose grid, it fits for portfolio, services or agency web site";
                                position: absolute;
                                @include text(18px,$title_color,400,normal);
                                top: 30px;
                                min-width: 370px;
                                left: 800px;

                            }
                        }
                    }
                    .image__elone_image{
                        position: relative;
                        transition: 0.3s;
                        &:hover{
                            transform:scale(1.1);
                        }
                        &::after{
                            content:'We aimed to deliver HQ templates for Figma';
                            position: absolute;
                            @include text(18px,white,bold,0.2px);
                            line-height: 32px;
                            top: 51px;
                            left: -1px;
                            text-align: center;
                        }
                        &::before{
                            content:'Used by 123 people';
                            position: absolute;
                            @include text(14px,white,normal,0.25px);
                            line-height: 24px;
                            top: 115px;
                            right: 70px;
                            text-align: center;
                        }
                    }
                    .title__button{
                        margin-top: 55px;
                        >a{
                            @include text(32px,white,bold,-0.5px);
                            text-decoration: none;
                            padding: 25px 50px;
                            border-radius: 50px;
                            background-color: $perpl;
                            text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                            box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                            transition: all 0.7s ease;
                            position: relative;
                            z-index: 1;
                            &:hover{
                                background-color: $title_color;
                            }
                            &::before{
                                content:"";
                                position: absolute;
                                height: 88px;
                                width: 260px;
                                border-radius: 70px;
                                background-color: #6c5ce773;
                                left: 0px;
                                top: 0px;
                                opacity: 0;
                                animation-delay: 0.3s;
                                animation: PulsButton 1s linear infinite;
                                z-index: -1;
                            }
                            &::after{
                                content:"";
                                position: absolute;
                                height: 88px;
                                width: 260px;
                                border-radius: 70px;
                                background-color: #6c5ce749; 
                                left: 0px;
                                top: 0px;
                                opacity: 0;
                                animation: PulsButton 1s linear infinite; 
                                z-index: -1;
                            }
                            &:hover::before{
                                display: none;
                            }
                            &:hover::after{
                                display: none;
                            }
                        }
                    }
                }
                .title__image_eltwo{
                    display: flex;
                    flex-wrap: wrap;
                    flex-basis: 200%;
                    overflow: visible;
                    .image__eltwo_img{
                        position: relative;
                        transition: 0.3s;
                        &:hover{
                            transform: scale(1.1);
                        }
                        &:nth-child(1){
                            padding: 0px 15px 15px 30px;
                            &::before{
                                content:"Consider it done!";
                                position: absolute;
                                @include text(48px,white,700,-1px);
                                text-shadow: 0px 4px 0px #000000;
                                top: 312px;
                                left: 90px;
                            }
                        }
                        &:nth-child(2){
                             padding: 159px 15px 0px 15px;
                        }
                        &:nth-child(3){
                             padding: 159px 0px 0px 15px;
                             &::after{
                                content:"";
                                position: absolute;
                                background-image: url('../image/title4eff.png');
                                width: 170px;
                                height: 128px;
                                z-index: 4;
                                top: 254px;
                                right: 0px;
                            }
                        }
                        &:nth-child(4){
                            padding: 15px 15px 0px 30px;
                        }
                        &:nth-child(5){
                            padding: 15px 15px 0px 15px;
                            &::before{
                                content:"See my goal?";
                                position: absolute;
                                @include text(48px,white,700,-1px);
                                text-shadow: 0px 4px 0px #000000;
                                top: 37px;
                                left: 60px;
                            }
                        }
                        &:nth-child(6){
                            padding: 15px 0px 0px 15px;
                        }
                    }
                    
                }
            }
        }
    }
}
@import '_keyframe.scss'