// Global import
@import "_reset.scss";
@import "_mixins, variable, shab.scss";
@import '_keyframe.scss';
// Code
*{
    box-sizing: border-box;
}
.content{
    max-width: 1174px;
    margin: 0px auto;
} 
body{
    background-color: #A29BFE;
    @extend %Font;
    .wrapper{
        background-image: url("../image/Rectangle.png");
        background-repeat: no-repeat;
        background-position: right top;
        max-width: 95%;
        margin: 0px auto;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        background-color: #fff;
        border-radius: 20px;
        header{
            box-shadow: 0px 2px 5px rgba(35, 47, 53, 0.281);
            position: sticky;
            top: 0px;
            background-color: #fff;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            z-index: 5;
          .header__flexcon{
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 96px;
              .header__logo{
                margin-left: 72px;
                position: relative;
                  >a{
                    @include text(48px,$title_color,bold,-1px);
                    text-decoration: none;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 35px;
                        height: 35px;
                        background-image: url('../image/icon-layout.png');
                        top: 6px;
                        left: -72.5px + 19px;
                        background-position: center center;
                    }
                  }
              }
              .header__menu{
                  nav{
                      display: flex;
                      align-items: center;
                      min-width: 582px;
                      justify-content: space-between;
                      position: relative;
                      .nav_two::before{
                          content:'';
                          position: absolute;
                          width: 7px;
                          height: 7px;
                          background-color: #FDCB6E;
                          top: 7px;
                          border-radius: 50%;
                          left: 137px;
                      } 
                      .nav_three::before{
                        content:'';
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        background-color: #FDCB6E;
                        top: 7px;
                        border-radius: 50%;
                        left: 298px;
                      } 
                      .nav_four::before{
                        content:'';
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        background-color: #FDCB6E;
                        top: 7px;
                        border-radius: 50%;
                        left: 458px;
                      }   
                      a{
                        @include text(18px,$perpl,normal,0.2px);
                        text-decoration: none;
                        transition: all 0.25s ease;
                        &:hover{
                            @include text (18px,$title_color,bold,0.2px);
                        }
                      }   
                  }
              }
              .header__button{
                >a{
                    @include text(24px,white,bold,0.25px);
                    @extend %Font;
                    text-decoration: none;
                    background-color:$perpl;
                    border-radius:55px;
                    padding: 17px 45px;
                    text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                    transition: all 0.5s ease;
                    z-index: 1;
                    position: relative;
                    &:hover{
                        background-color: $title_color;
                    }
                    &:hover::before{
                        content:'';
                        height: 63px;
                        position: absolute;
                        width: 166px;
                        background-color: #2d343693;
                        z-index: -1;
                        opacity: 0;
                        border-radius: 55px;
                        top: 0px;
                        left: 0px;
                        animation-delay: 0.3s;
                        animation: PulsButtonHeader 0.8s linear 1;  
                    }
                    &:hover::after{
                        content:'';
                        height: 63px;
                        position: absolute;
                        width: 166px;
                        background-color: #2d343618;
                        z-index: -1;
                        opacity: 0;
                        border-radius: 55px;
                        top: 0px;
                        left: 0px;
                        animation: PulsButtonHeader 0.8s linear 1;
                    }
                }
              }
          }
        }
        .title__section{
            position: relative;
            box-sizing: border-box;
            z-index: 1;
            padding-top: 176px;
            // без border отступ кривой
            &::after{
                content:'';
                position: absolute;
                width: 209px;
                height: 285px;
                background-image: url("../image/tochki.png");
                background-position: center center;
                right: 0px;
                top: 18px;
            }
            .title{
                text-align: center;
                h1{
                    margin: 0px;
                    @include text(96px,$title_color,800,0.25px);
                    
                    span{
                        color:#D63031;
                        text-shadow: 0px 6px white;
                        position: relative;
                        &::after{
                            position: absolute;
                            content:'';
                            background-color: #55EFC4;
                            border-radius: 30px;
                            width: 191px;
                            height: 51px;
                            top: 70px;
                            right: -14px;
                            z-index: -1;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .title__image{
            .title__image_container{
                margin-top: 79px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 80px;
                .title__image_elone{
                    .title__text{
                        >p{
                            @include text(18px,$title_color,normal, normal);
                            line-height: 32px;
                            margin: 0;
                            padding-bottom: 30px;
                            position: relative;
                            &::before{
                                content:"This is multipurpose grid, it fits for portfolio, services or agency web site";
                                position: absolute;
                                @include text(18px,$title_color,400,normal);
                                top: 30px;
                                min-width: 370px;
                                left: 800px;

                            }
                        }
                    }
                    .image__elone_image{
                        position: relative;
                        transition: 0.3s;
                        &:hover{
                            transform:scale(1.1);
                        }
                        &::after{
                            content:'We aimed to deliver HQ templates for Figma';
                            position: absolute;
                            @include text(18px,white,bold,0.2px);
                            line-height: 32px;
                            top: 51px;
                            left: -1px;
                            text-align: center;
                        }
                        &::before{
                            content:'Used by 123 people';
                            position: absolute;
                            @include text(14px,white,normal,0.25px);
                            line-height: 24px;
                            top: 115px;
                            right: 70px;
                            text-align: center;
                        }
                    }
                    .title__button{
                        margin-top: 55px;
                        >a{
                            @include text(32px,white,bold,-0.5px);
                            text-decoration: none;
                            padding: 25px 50px;
                            border-radius: 50px;
                            background-color: $perpl;
                            text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                            box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                            transition: all 0.7s ease;
                            position: relative;
                            z-index: 1;
                            &:hover{
                                background-color: $title_color;
                            }
                            &::before{
                                content:"";
                                position: absolute;
                                height: 88px;
                                width: 260px;
                                border-radius: 70px;
                                background-color: #6c5ce773;
                                left: 0px;
                                top: 0px;
                                opacity: 0;
                                animation-delay: 0.3s;
                                animation: PulsButton 1s linear infinite;
                                z-index: -1;
                            }
                            &::after{
                                content:"";
                                position: absolute;
                                height: 88px;
                                width: 260px;
                                border-radius: 70px;
                                background-color: #6c5ce749; 
                                left: 0px;
                                top: 0px;
                                opacity: 0;
                                animation: PulsButton 1s linear infinite; 
                                z-index: -1;
                            }
                            &:hover::before{
                                display: none;
                            }
                            &:hover::after{
                                display: none;
                            }
                        }
                    }
                }
                .title__image_eltwo{
                    display: flex;
                    flex-wrap: wrap;
                    flex-basis: 200%;
                    overflow: visible;
                    .image__eltwo_img{
                        position: relative;
                        transition: 0.3s;
                        &:hover{
                            transform: scale(1.1);
                        }
                        &:nth-child(1){
                            padding: 0px 15px 15px 30px;
                            &::before{
                                content:"Consider it done!";
                                position: absolute;
                                @include text(48px,white,700,-1px);
                                text-shadow: 0px 4px 0px #000000;
                                top: 312px;
                                left: 90px;
                            }
                        }
                        &:nth-child(2){
                             padding: 159px 15px 0px 15px;
                        }
                        &:nth-child(3){
                             padding: 159px 0px 0px 15px;
                             &::after{
                                content:"";
                                position: absolute;
                                background-image: url('../image/title4eff.png');
                                width: 170px;
                                height: 128px;
                                z-index: 4;
                                top: 254px;
                                right: 0px;
                            }
                        }
                        &:nth-child(4){
                            padding: 15px 15px 0px 30px;
                        }
                        &:nth-child(5){
                            padding: 15px 15px 0px 15px;
                            &::before{
                                content:"See my goal?";
                                position: absolute;
                                @include text(48px,white,700,-1px);
                                text-shadow: 0px 4px 0px #000000;
                                top: 37px;
                                left: 60px;
                            }
                        }
                        &:nth-child(6){
                            padding: 15px 0px 0px 15px;
                        }
                    }
                    
                }
            }
        }
        .inform{
            .inform__text{
                margin-top: 80px;
                padding-bottom: 50px;
                h2{   
                    @include text(32px,$title_color,700,-0.5px);
                }
                .inform__subtitle{
                    margin-top: 37px;
                    p{
                        @include text(24px,$title_color,normal,-0.25px);
                        line-height: 36px;
                    }
                }
            }
            .inform__flexcon_learn{
                display: flex;
                justify-content: space-between;
                padding-bottom: 97px;
                .flexcon__img_o{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #E84393;
                    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    >img{
                        margin-top: 8px;
                        animation: icon-animation-one 2s linear infinite;  
                    }
                }
                .flexcon__img_t{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #0984E3;
                    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    &::before{
                        content:"";
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        background-image: url("../image/icon2\ 2.png");
                        top: 19px;
                        left: 34px;
                        animation: icon-animation-two 2s linear infinite;
                    }
                    img{
                        animation: icon-animation-twos 2s linear infinite;
                    }
                }
                .flexcon__img_tr{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: $perpl;
                    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        animation: icon-animation-tree 2s linear infinite;
                    }
                }
                .flexcon__img_f{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #00B894;
                    box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        margin-bottom: 5px;
                        animation: icon-animation-four 2s linear infinite;
                    }
                }
                .flexcon__learn_el{
                    max-width: 270px;
                    .flexcon__title{
                        h3{
                            margin-top: 38px;
                            @include text(24px,$title_color,700,0.25px);
                        }
                    }
                    .flexcon__subtitle{
                        margin-top: 24px;
                        p{
                            @include text(18px,$title_color,normal,normal);
                            line-height: 32px;
                        }
                    }
                    .flexcon__button{
                        margin-top: 44px;
                        a{
                            text-decoration: none;
                            @include text(18px,$perpl,700,0.2px);
                            padding: 15px 23px;
                            border: 1px solid #ADADAD;
                            border-radius: 20px;
                            transition: all 0.5s ease;
                            text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                            box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                            &:hover{
                                background-color: $perpl;
                                border-color: $perpl;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .price{
            .price__text{
                margin-top: 90px;
                .price__text_title{
                    text-align: center;
                    h1{
                        @include text(64px,$title_color,900,-1px);
                    }
                }
                .price__text_subtitle{
                    text-align: center;
                    margin-top: 60px;
                    p{
                        @include text(32px,#ADADAD,700,-0.5px);
                        span{
                            color: $perpl;
                            display: inline-block;
                            padding-right: 15px;
                            position: relative;
                            z-index: 1;
                            &::before{
                                content:"";
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                background-color: #ADADAD;
                                border-radius: 50%;
                                left: 120px;
                                top: 13px;
                            }
                            &::after{
                                content:"";
                                position: absolute;
                                height: 12px;
                                width: 115px;
                                border-radius: 15px;
                                background-color: #FDCB6E;
                                z-index: -1;
                                left: -1px;
                                bottom: -2px;
                            }
                        }
                    }
                }
            }
            .price__flex_con{
                margin-top: 48px;
                display: flex;
                justify-content: space-between;
                padding-bottom: 80px;
                .flex__el_con{
                    min-height: 472px;
                    margin: 32px 32px 32px 32px;
                    position: relative;
                    .flex__el_tarif{
                        margin-top: 13px;
                        p{
                            @include text(18px,$perpl,700,0.2px);
                        }
                    }
                    .flex__el_price{
                        margin-top: 35px;
                        p{
                            @include text(48px,$title_color,700,-1px);
                            span{
                                @include text(12px,$title_color,800,2.5px);
                            }
                        }
                    }
                    .flex__el_list{
                        margin-top: 40px;
                        ul{
                            li{
                                @include text(18px,$title_color,400,normal);
                                margin-left: 48px;
                                position: relative; 
                                &:nth-child(2){
                                    margin-top: 30px;
                                }
                                &:nth-child(3){
                                    margin-top: 30px;
                                }
                                &:nth-child(4){
                                    margin-top: 30px;
                                }
                                &:nth-child(5){
                                    margin-top: 30px;
                                }
                            }
                        }
                    }
                    .flex__el_button{
                        text-align: center;
                        a{
                            text-decoration: none;
                            width: 100%;
                            @include text(18px,$perpl,700,0.2px);
                            display: inline-block;
                            padding: 20px;
                            border: 1px solid #ADADAD;
                            border-radius: 16px;
                            text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                            box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
                            transition: all 0.5s ease;
                            position: absolute;
                            bottom: 0px;
                            left: 0px;
                        }
                    }
                }
                .price__flex_el_one{
                    li{
                        &::before{
                            content:'';
                            position: absolute;
                            width: 32px;
                            height: 32px;
                            background-image: url("../image/list\ marker\ 1.png");
                            background-position: center center;
                            left:-48px;
                            top: -8px;
                        }
                    }  
                }
                .price__flex_el_two{
                    li{
                        &::before{
                            content:'';
                            position: absolute;
                            width: 32px;
                            height: 32px;
                            background-image: url("../image/list\ marker\ 2.png");
                            background-position: center center;
                            left:-48px;
                            top: -8px;
                        }
                    }
                }
                .price__flex_el_tree{
                    li{
                        &::before{
                            content:'';
                            position: absolute;
                            width: 32px;
                            height: 32px;
                            background-image: url("../image/list\ marker\ 3.png");
                            background-position: center center;
                            left:-48px;
                            top: -8px;
                        }
                    }
                }
                .price__flex_el_one, .price__flex_el_two, .price__flex_el_tree{
                    border-radius: 8px;
                    transition: all 0.3s ease;
                    position: relative;
                    // &::before{
                    //     content:"";
                    //     position: absolute;
                    //     width: 200px;
                    //     height: 126px;
                    //     background-image: url("../image/wawes.png");
                    //     background-position: center center
                    //     ;
                    //     left: -30px;
                    //     bottom: -30px; 
                    // }
                    &:hover{
                        box-shadow: -3px 3px 10px 2px rgba(35, 47, 53, 0.205);
                        .flex__el_button{
                            a{
                                background-color: $perpl;
                                @include text(24px,white,700,0.25px);
                                border: 1px solid $perpl;
                            }
                        }
                    }
                }
                .price__flex_el_two{
                    .flex__el_tarif{
                        position: relative;
                        &:after{
                            content:'best!';
                            position: absolute;
                            @include text(12px,$title_color,900,2.5px);
                            text-transform: uppercase;
                            padding: 11px 22px;
                            border: 1px solid $perpl;
                            border-radius: 99px;
                            left: 195px;
                            top: -7px;
                        }
                    }
                }
            }
        }
        footer{
            background-image: url("../image/footer-bg-image.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center bottom;
            border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            .footer__flex_con{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 95px;
                border: 2px solid red;  
                margin-left: 70px;
                .footer__flex_el_left{
                    margin-right: 30px;
                    .el__left_follow{
                        .left__follow_text{
                            margin-top: 7px;
                            >p{
                                text-transform: uppercase;
                                @include text (12px,#ADADAD, 800,2.5px);
                            }
                        }
                        .el__left_flexcon{
                            max-width: 261px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .left__flex_el{
                                a{
                                    display: block;
                                    margin-top: 15px;
                                    border-radius: 50%;
                                    &:hover{
                                        background-color: #FFEAA7;
                                    }
                                }
                            }
                        }
                    }
                    .el__left_information{
                        margin-top: 40px;
                        >p{
                            text-transform: uppercase;
                            @include text (12px,#ADADAD, 800,2.5px); 
                        }
                    }
                    .el__left_navigation_flexcon{
                        margin-top: 16px;
                        display: flex;
                        justify-content: space-between;
                        .navigation__flex_el{
                            min-width: 170px;
                            &:nth-child(2), &:nth-child(3){
                                margin-left: 30px;
                            }
                            li{
                                &:nth-child(2), &:nth-child(3){
                                    margin-top: 30px;
                                }
                               >a{
                                   text-decoration: none;
                                   @include text(14px,$title_color,400,0.25px);
                                &:hover{
                                    border-bottom: 1px solid $title_color;
                                    }
                               }
                            }
                        }
                    }
                }
            }
        }
    }
}

