*{
    box-sizing: border-box;
    ::selection{
        background-color: #8172f171;
    }
}
.content{
    max-width: 1174px;
    padding: 0px 40px 0px 40px;
    margin: 0px auto;
    box-sizing: content-box;
}